.logo {
    padding-top: 45px;
    width: 220px;
    margin: 10px 0;
}

.search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing {
    display: flex;
    justify-content: center;
}
